body{
	background-image: url("fondo.jpg");
	background-repeat: repeat-y;
}
div#contenido{
	height: auto;
	width: auto;
	display: flex;
}
div#cabecera{
	background-color: white;
	height: 0%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img#lo{
	height: 0%;
	width: 10%;
	margin-left: 5%;
}
h2#titulo{
	font-family: Algerian;
	font-size: 250%;
	text-align: center;
	margin: 0% 0% 5% 15%;
	width: auto;
	height: 100%;
}
h3#op1{
	text-align: center;
	margin: 6% 0% 0% -39%;
	font-size: 130%;
}
h3#op2{
	text-align: center;
	margin: 6% 0% 0% 10%;
	font-size: 130%;
}
h3#op3{
	text-align: center;
	margin: 6% 0% 0% 10%;
	font-size: 130%;
}
img#korea{
	height: 0%;
	width: 15.5%;
	margin-left: 6%;
}
div#prof{
	background-color: rgba(255, 255, 255, 0.8);
	height: 0%;
	width: 20%;
	justify-content: center;
	align-items: center;
	margin: 17% 0% 0% -96%;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	border: 5px solid #000000;
}
h3#clases{
	text-align: center;
}
dl#lp{
	margin: 0% 0% 6% 15%;
}
img#abi{
	height: 30%;
	width: 30%;
	margin: 13% 0% 0% 10%;
	border-radius: 53px 53px 53px 53px;
	-moz-border-radius: 53px 53px 53px 53px;
	-webkit-border-radius: 53px 53px 53px 53px;
	border: 5px solid #FFFFFF;
}
div#telefonos{
	background-color: rgba(255, 255, 255, 0.8);
	height: 0%;
	width: 20%;
	justify-content: center;
	align-items: center;
	margin: 17% 0% 0% 10%;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	border: 5px solid #000000;
}
h3#te{
	text-align: center;
}
dl#lt{
	margin: 0% 0% 6% 25%;
}
img#f1{
	height: 30%;
	width: 30%;
	margin: 37% 0% 0% -91%;
	border-radius: 53px 53px 53px 53px;
	-moz-border-radius: 53px 53px 53px 53px;
	-webkit-border-radius: 53px 53px 53px 53px;
	border: 5px solid #FFFFFF;
}
div#descripcion{
	background-color: rgba(255, 255, 255, 0.8);
	height: 30%;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: 37% 0% 0% 8%;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	border: 5px solid #000000;
}
h3#t1{
	text-align: center;
}
p#parrafo{
	text-align: center;
	font-family: Arial;
	font-size: 107%;
	margin: 0% 5% 2.9% 5%;
}
@media screen and (max-width: 1100px){
	h2#titulo{
		margin-top: -16%;
		margin-right: -3%;
		margin-left: 0%;
		font-size: 210%;
		width: 100%;
	}
	h3#op1{
		margin-top: 0%;
		margin-right: -50%;
		font-size: 180%;
		
	}
	h3#op2{
		margin-top: 13%;
		margin-right: -81%;
		font-size: 180%;
		width: 100%; 
	}
	h3#op3{
		margin-top: 30%;
		margin-right: -7%;
		margin-bottom: 3%;
		font-size: 180%;
		width: 100%; 
	}
	div#prof{
		margin: 40% 0% 0% -86%;
		width: 35%;
		font-size: 150%;
	}
	img#abi{
		margin: 67% 0% 0% -35%;
		width: 70%;
	}
	div#telefonos{
		margin: 40% 0% 0% -35%;
		width: 35%;
		font-size: 150%;
	}
	img#f1{
		margin: 169.5% 0% 0% -72%;
		width: 70%;
	}
	div#descripcion{
		margin: 118% 0% 0% -71%;
		width: 70%;
		font-size: 150%;
	}
}